VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=creator-verse-4078c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=creator-verse-4078c
VITE_FIREBASE_STORAGE_BUCKET=creator-verse-4078c.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=765073812890
VITE_FIREBASE_APP_ID=1:765073812890:web:5515b1c8c4801ef534de23
VITE_FIREBASE_MEASUREMENT_ID=G-KPHN69HY36
VITE_API_URL=http://localhost:5000/api
VITE_ADMIN_EMAIL=admin@gmail.com
